/* Check for Grid support. If not, display the mobile version */
@supports not (display: grid) {
  nav,
  main,
  aside,
  footer,
  h1.page-title {
    margin: 0 auto;
  }
}

@supports (display: grid) {
  /* set the role of each component of the page */
  nav {
    grid-area: nav;
  }
  h1.page-title {
    grid-area: head;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }

  /* Define the layout of the components for each screen size */
  @media screen and (min-width: 800px) {
    .site {
      height:100%;
      display: grid;
      grid-template-columns: .25em 1fr 2fr .25em;
      grid-template-rows: 1fr 2fr 1fr;
      grid-gap: .25em;
      grid-template-areas: ". head nav ."
                            ". main main ." 
                            ". footer footer .";
    }
  }

  @media screen and (min-width: 1200px) {
    .site {
      grid-template-columns: 1em 1fr 5fr 1em;
      grid-template-rows: 1fr 4fr 1fr;
      grid-gap: 1em;
      grid-template-areas: ". head main ." 
                           ". nav main ."
                           ". footer footer .";
    }
  }
}
