
/*** Page Layout Grid ***/

/* Check for Grid support. If not, display the mobile version */
@supports not (display: grid) {
  nav,
  main,
  aside,
  footer {
    max-width: 65em;
    margin: 0 auto;
  }
}


/* Layouts for 2 screen sizes */

@supports (display: grid) {
  @media screen and (min-width: 800px) {
    .site {
      height:100%;
      display: grid;
      grid-template-columns: .25em 1fr 2fr .25em;
      grid-template-rows: 1fr 2fr 1fr;
      grid-gap: .25em;
      grid-template-areas: ". head nav ."
                            ". main main ." 
                            ". footer footer .";
    }
    nav {
      grid-area: nav;
    }
    .page-title {
      grid-area: head;
    }
    main {
      grid-area: main;
    }
    footer {
      grid-area: footer;
    }
  }

  @media screen and (min-width: 1200px) {
    .site {
      grid-template-columns: 1em 1fr 3fr 2fr 1em;
      grid-template-rows: 1fr 4fr 1fr;
      grid-gap: 1em;
      grid-template-areas: ". head main main ." 
                           ". nav main main ."
                           ". footer footer footer .";
    }
  }
}

/*** End Page Layout ***/
