/* CSS reset and styles to make content look non-crappy */

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html,
body {
    margin: 1em;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    color: #201D1D;
    font-size: small;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
}

textarea {
    border: none;
    resize: none;
    outline: none;
    background-color: rgba(246, 246, 246, 0.96);
    font-family: 'Ubuntu Mono', monospace;
    font-size: medium;
}