/*** Vue.js CSS ***/

#editor textarea,
#editor div {
  /*display: inline-block;*/
  width: 100%;
  min-height: 25em;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 20px;
}

#editor div {
  border: 2px solid whitesmoke;
}

textarea {
  border-right: 2px solid #ccc;
  padding: 20px;
}

@media screen and (min-width: 800px) {
  #editor {
    height: 100%;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
  }
}